body {
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.logo {
    float: left;
}

.info {
    text-align: right;
}

.info span {
    color: #777;
    margin-left: 10px;
}

.info a {
    color: #00cc00;
    text-decoration: none;
    margin: 0 10px;
}

.content {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.box {
    width: 200px;
    height: 200px;
    border: 2px solid #0000cc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.categoria {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 10px;
}

.box.yellow {
    border-color: #ffcc00;
}

.subtitle {
    color: #777;
    font-size: 13px;
}

.discount {
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 10px;
}

.container.text-center h1 {
    font-size: 36px;
    margin-top: 5px;
}

.container.text-center p {
    font-size: 18px;
    margin-top: 10px;
}

.form-nom {
    margin-top: 10px;
    width: 350px;
    height: 40px;
}
.form-correo {
    margin-top: 20px;
    width: 750px;
    height: 50px;
}

.select {
    width: 350px;
    height: 40px;
    margin-top: 10px;
}

.pago-total {
    background-color: rgb(80, 143, 143);
    color:rgb(66, 66, 116);
    margin-top: 20px;
    margin-left: 0px;
    height: 55px;
    width: 750px;
    text-align: left;
    font-size: 20px;
    
}

.btn-success {
    background-color: #28a745;
    color: white;
    width: 750px;
    height: 50px;
}

.redirec-final-text {
    color: white;
    vertical-align: middle;
    margin-left: 50px;
    text-decoration: none;
}

.pie-pagina {
    background-color: rgb(36, 36, 95); 
    width: 100%; 
    color: white; 
    padding: 20px; 
    text-align: center;
}